
    .benefits__items {
   
    max-width: 450px;

    @include mq(tab){
        max-width: 354px;
    }
    @include mq(desc){
        max-width: 270px;
        height: 120px;
        
    }
}
    
    .benefits__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include mq(mob-only){
    text-align: center;
}

}

    .benefits__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: var(--first-font-size);
    line-height: 1.71;
    letter-spacing: var(--first-letter-spacing);

}

.benefits__icon {
    display: inline-block;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
    
    background-color: #F5F4FA;
    width: 100%;
    @include mq(desc) {
        width: 270px;
        height: 120px;
       
}
}
