.mine-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--second-background-color);

}

.aligment {
    @include mq(desc) {
display: flex;
align-items: baseline;
}
    }
    
.logo-wrapper {
    @include mq(noDesc){
    text-align: center;
}
}
.addres {
    margin-top: 20px;
   

    color: var(--second-text-color);

    font-style: normal;
    font-size: var(--first-font-size);
    line-height: 1.71;
    letter-spacing: var(--first-letter-spacing);

   
}

    .addres__link {

    display: block;
    margin-top: 8px;
    @include mq(desc){
        margin-top: 9px;
    }

    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: var(--second-link-color);
    }
}

.tablet-wrapper {
    @include mq(tab-only){
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 60px;
    }
    @include mq(desc){
        display: flex;
        align-items: baseline;
    }
}