.mine-header {
    background-color: var(--first-background-color);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.positioning {
    display: flex;
    align-items: center;

    @include mq(mob-only){
        position: relative;
        height: 60px;
}
}

.nav-list {
    display: flex;
    align-items: center;
    margin-left: 93px;

    font-weight: 500;
    font-size: var(--first-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include mq(mob-only){
        display: none;
    }

}

.nav-list__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
    color: var(--second-link-color);
}
    @include mq(mob-only) {
    display: none;
}
}



    .nav-list__items {
    position: relative;

    @include mq(mob-only) {
    display: none;
    }
}

    .nav-list__items+.nav-list__items {
    margin-left: 50px;

    @include mq(mob-only) {
    display: none;
    }
}

    .nav-list__color {
    color: var(--second-link-color);

        &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--second-link-color);
        border-radius: 2px;
        display: block;
        bottom: 0;
    }
    @include mq(mob-only) {
    display: none;
    }
}







.sity-cont {
    display: flex;
    margin-left: auto;
    font-weight: var(--medium-font-weight);
    font-size: var(--first-font-size);
    line-height: 1.14;
    letter-spacing: 0.02em;

    @include mq(mob-only){
        display: none;
    }

    @include mq(tab-only){
        flex-direction: column;
        font-size: 12px;
        line-height: 1.17;
    }
}
.sity-cont__link {
    @include mq(desc){
    display: flex;
    justify-content: center;
    align-items: center;
    }
       
        color: var(--first-text-color);
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--second-link-color);
    
        }
        @include mq(mob-only) {
        display: none;
        }
    }

.sity-cont__items+.sity-cont__items {
   
    @include mq(desc){
        margin-left: 50px;
    }
    }
.sity-cont__items:first-child {
        @include mq(tab) {
            margin-bottom: 10px;
        }
}
.sity-cont__icon {
        margin-right: 10px;
        fill: currentColor;
    @include mq(mob-only) {
    display: none;
}
    }

.sity-cont__icon-envelope {
        width: 16px;
        height: 12px;
        @include mq(mob-only) {
        display: none;
        }
    }
    
.sity-cont__icon-smartphone {
        width: 10px;
        height: 16px;
        margin-bottom: 0px;
        @include mq(mob-only) {
        display: none;
        }
    }

.mob-menu {
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    top: 0;

    @include mq(tab) {
        display: none;
    }
}
    .mob-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-left: 40px;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-right: 15px;
        justify-content: space-between;
        overflow: auto;

        @include mq(tab) {
            display: none;
        }
    }

   

.button-menu {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 40px;
    height: 40px;
    padding: 0;
    border: transparent;
    background-color: transparent;
  
    
    @include mq(tab) {
    display: none;
}
    
}
.button-close {
    position: absolute;
    top: 10px;
    right: 15px;

    width: 40px;
    height: 40px;
    padding: 0;
    border: transparent;
    background-color: transparent;
    display: block;
   
    @include mq(tab) {
        display: none;
    }
}


.button-menu__icon {
    fill: #000000;
    cursor: pointer;
    &:hover, &:focus {
        fill: #2196F3;
    }
    @include mq(tab) {
        display: none;
    }
}

.button-close__icon {
    fill: #000000;
    cursor: pointer;

    &:hover,
    &:focus {
    fill: #2196F3;
}
    @include mq(tab) {
        display: none;
    }
}


.mob-nav__list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;

    @include mq(tab) {
    display: none;
    }
}

.mob-nav__item {
    margin-bottom: 32px;
&:last-child {
    margin-bottom: 0;
}
    @include mq(tab) {
    display: none;
}
}

.mob-nav__link {
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    color: var(--second-link-color);

}
    @include mq(tab) {
    display: none;
}
}

.mob-nav__link-color {
    color: #2196F3;

    @include mq(tab) {
    display: none;
    }
}
    
.mob-cont {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    @include mq(tab) {
    display: none;
    }
}

    .mob-cont__link{
    color: #2196F3;

    @include mq(tab) {
    display: none;
    }
}
.mob-cont__link-color {
    font-size: 24px;
    line-height: 1.17;
    color: #757575;

    @include mq(tab) {
    display: none;
    }
}

.mob-cont__items {
    margin-bottom: 32px;
  &:last-child{
      margin-bottom: 64px;
  }  
@include mq(tab) {
    display: none;
}
}

.mob-soc {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;
@include mq(tab) {
    display: none;
}
}

.mob-soc__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    &:last-child{
        border-right: none;
    }

    @include mq(tab) {
    display: none;
    }
}

.mob-soc__item + .mob-soc__item {
    margin-left: 10px;

    @include mq(tab) {
    display: none;
}
    
}

.mob-soc__link {
    color: #2196F3;

    @include mq(tab) {
    display: none;
}
}


