.work {
    padding-bottom: 94px;

    @media screen and (max-width: 1199px){
        display: none;
    }

}
    .work__list {
    display: flex;
}

    .work__items {
    position: relative;
    z-index: 0;
}

    .work__label {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 100%;
    min-height: 70px;
    margin: 0 0;
    bottom: 0;

    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: var(--bold-font-weight);
    font-size: var(--first-font-size);
    line-height: 1.14;
    letter-spacing: var(--first-letter-spacing);
    text-transform: uppercase;

}


    .work__items+.work__items {
    margin-left: 30px;
}
