.form-wrapper {
    text-align: center;

    @include mq(desc){
    margin-left: 93px;
    }
}

.form-subscription {
    display: flex;
    flex-direction: column;
}
.form-subscription__wrapper {
    text-align: center;

    @include mq(desc){
    display: flex;
}
}

    .form-subscription__label {
    margin-bottom: 20px;

    font-weight: var(--bold-font-weight);
    font-size: var(--first-font-size);
    line-height: 1.14;
    letter-spacing: var(--first-letter-spacing);
    text-transform: uppercase;

    color: #FFFFFF;

}

    .form-subscription__input {
    width: 358px;
    height: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    @include mq(noDesc) {
    margin-bottom: 20px;
}


    font-size: var(--second-font-size);
    line-height: 1.25;
    letter-spacing: var(--first-letter-spacing);


    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
}

    .form-subscription__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include mq(tab-only) {
    display: block;
    text-align: center;
}

    font-weight: var(--bold-font-weight);
    font-size: var(--second-font-size);
    line-height: 1.88;
    letter-spacing: var(--second-letter-spacing);

    color: #FFFFFF;

    @include mq(desc) {
    margin-left: 12px;
}
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 29px;
    padding-right: 28px;

    border: none;

    background-color: var(--first-button-background-color);
}

    .form-subscription__icon {
    fill: #FFFFFF;
    margin-left: 10px;
}



