

.modal-form-container {
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;

    @include mq(mob){
        width: 450px;
        max-height: 609px;
        
    }

    @include mq(tab){
        width: 450px;
        max-height: 609px;
    }

    @include mq(desc){
        width: 528px;
        height: 581px;
    }

}

.close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
    border: 0;
    display: block;
    background: #fff;
    outline: none;

    &__icon {
    stroke: rgba(0, 0, 0, 0.1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

    &:hover &__icon,
    &:focus &__icon {
    fill: #2196F3;
}
}


.modal-form {
    display: flex;
    flex-direction: column;
    padding: 40px 40px;
    
}
    .modal-form__text {
    font-weight: var(--bold-font-weight);
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: var(--first-letter-spacing);

    color: var(--first-link-color);

    margin-bottom: 12px;
    margin-top: 0;

@include mq(desc) {
    line-height: 1.15;
}
}



.username {
    position: relative;
    &__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    &__input {
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover + .username__icon,
    &:focus + .username__icon {
    fill: #2196F3;
}

    &:hover,
    &:focus {
    border-color: #2196F3;
}
}

}



.phone {
    position: relative;
     
}

    .phone__input {
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: #2196F3;
    }
    }

    .phone__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .phone__input:hover + &,
    .phone__input:focus + & {
        fill: #2196F3;
    }
}




.mail {
    position: relative;
    
}

    .mail__input {
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: #2196F3;
    }
    }

    .mail__icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .mail__input:hover+&,
    .mail__input:focus+& {
        fill: #2196F3;
    }
}


.feedback {
    margin-bottom: 20px;
}
    .feedback__input {
    color: #000;
    height: 120px;
    padding: 16px 12px;
    margin-bottom: 0;
    resize: none;

    &:hover,
    &:focus {
        border-color: #2196F3;
    }
}



.checkbox {
    margin-bottom: 30px;
   
}
    .checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 1px solid #212121;
    background-color: #fff;
    border-radius: 2px;
    flex-shrink: 0;
    }

    .checkbox__input:checked + .checkbox__icon  {
        background-color: var(--second-link-color);
        border-color: var(--second-link-color);
        background-image: url(../images/Vector.svg);
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    .checkbox__input:focus ~ .checkbox__icon {
        border-color: var(--second-link-color);
    }
    

    .checkbox__label {
   display: flex;
   align-items: center;
    
    // display: inline-block;
    text-align: left;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: var(--first-letter-spacing);

    color: var(--first-text-color);

    @include mq(desc){
    font-size: var(--first-font-size);
    line-height: 1.71;
    justify-content: center;
    }

}

    .checkbox__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}
   
    .checkbox__link {
    outline: none;
    text-decoration: none;
    border-bottom: 1px solid var(--second-link-color);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: var(--first-letter-spacing);
    color: var(--second-link-color);

    @include mq(desc) {
        font-size: var(--first-font-size);
        line-height: 1.71;
    }

}

.button-send-modal {
    margin-left: auto;
    margin-right: auto;
}
    .button-send-modal__button {
        display: block;
    
    
        font-weight: var(--bold-font-weight);
        font-size: var(--second-font-size);
        line-height: 1.88;
        letter-spacing: var(--second-letter-spacing);
    
        color: var(--first-button-color);
        background-color: var(--first-button-background-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
    
        padding: 10px 56px;
        cursor: pointer;
    
    }


