.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;

}
    .social-networks__network {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 10px;

    background-color: var(--first-background-color);

    &:nth-child(4n) {
    margin-right: 0;
}
}

    .social-networks__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 100%;
    height: 100%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus {
    background-color: var(--second-link-color);
}

}
.social-networks__icon {

    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

.social-networks__link:hover &,
.social-networks__link:focus & {
    background-color: var(--second-link-color);
    fill: var(--first-background-color);
}
}

    .social-networks__icon-fill {
    fill: var(--first-background-color);

}

    .social-networks__background {
    background-color: rgba(255, 255, 255, 0.1);
}
    .social-networks__wrapper {
    @include mq(noDesc){
    text-align: center;
}
    
    @include mq(mob-only){
    margin: 60px 0;
    }
    @include mq(desc){
        margin-left: 70px;
    }
    
}

    .social-networks__text {

    margin-top: 0;
    margin-bottom: 20px;

    text-transform: uppercase;
    font-weight: var(--bold-font-weight);
    font-size: var(--first-font-size);
    line-height: 1.14;
    letter-spacing: var(--first-letter-spacing);
    color:var(--second-text-color);
}
