.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.card-set-item {
    flex-basis: 100%;
    @include mq(tab){
    flex-basis: calc(((100% - ((2) - 1) * 30px)) / 2);
    
    }
    @include mq(desc){
        flex-basis: calc(((100% - ((4) - 1) * 30px)) / 4);
    }
}