:root {
    --first-background-color: #ffffff;
    --second-background-color: #2F303A;
    --first-text-color: #757575;
    --second-text-color: #ffffff;
    --first-link-color: #212121;
    --second-link-color: #2196F3;
    --first-button-background-color: #2196f3;
    --first-button-color: #ffffff;
    --head-font-family: Roboto, sans-serif;
    --additional-font-family: Raleway, sans-serif;
    --bold-font-weight: 700;
    --medium-font-weight: 500;
    --heavy-font-weight: 900;
    --first-font-size: 14px;
    --second-font-size: 16px;
    --third-font-size: 18px;
    --first-letter-spacing: 0.03em;
    --second-letter-spacing: 0.06em;



}